
<head th:fragment="head1">
    <meta charset="utf-8">
    <!--声明文档兼容模式，表示使用IE浏览器的最新模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--设置视口的宽度(值为设备的理想宽度)，页面初始缩放值<理想宽度/可见宽度>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="shortcut icon" href="../resources/favicon.ico" th:href="@{/static/favicon.ico}"/>
    <!-- 引入Bootstrap核心样式文件 -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <!-- 引入jQuery核心js文件 -->
    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <!-- 引入BootStrap核心js文件 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script>
        $(document).ready(function () {
            $.post("/category/list",
                function (data) {
                    var $ul = $(".wz-nav");
                    var str = "";
                    for (var i in data) {
                        str += '<li><a href="/item/queryPage?cid=' + data[i].itemCategoryId + '&page=1">' + data[i].menuName + '</a></li>'
                    }
                    $ul.html(str);
                });

            $("#btn-search").click(function () {
                //获取关键字
                let keyword = $.trim($("#keyword").val());
                console.log(keyword + ":" + keyword.length);
                //有关键字才请求
                if (keyword.length > 0) {
                    location.href = "/item/search?name=" + keyword + "&page=1";
                }
            });

            function search() {
                //获取URL
                let str = location.search;
                //获取截取区间
                let index1 = str.indexOf("?");
                let index2 = str.indexOf("&");
                //截取
                let strs = str.substring(index1 + 1, index2);
                //数组化
                let name = strs.split("=");
                //回显
                if (name[0] == "name") {
                    $("#keyword").val(decodeURI(name[1]));
                }
            }

            search();
        });
    </script>
</head>
<!-- 头部 -->
<header th:fragment="head2">
    <div class="container-fluid wz-notice">
        <div class="container">
            <li class="icon-notice"></li>
            <span>酷玩周边商城手办热销中！，点击 <a href="#">查看详情></a> </span>
        </div>
    </div>
    <nav class="container-fluid wz-info">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <a class="icon-wzry pull-left" href="#">王者荣耀</a>
                    <div class="fl ico-comm i-solgan">可以触摸的欢乐时光</div>
                </div>
                <div class="col-md-4 hidden-xs">
                    <div class="search-box">
                        <input id="keyword" type="text" class="pull-left" placeholder="请输入想要找的宝贝"/>
                        <button id="btn-search" type="button" class="pull-left">搜索</button>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6" style="margin-top: 40px;">
                    <ul class="list-inline text-right ">
                        <li th:if="${session.user} == null">
                            <a class="font1" th:href="@{/user/login}"><span
                                    aria-hidden="true"
                                    class="glyphicon glyphicon-user"></span>&nbsp;登录</a>
                        </li>
                        <li class="dropdown" th:if="${session.user} != null">
                            <span class="font1" data-toggle="dropdown"
                                  href="javascript:void(0);"> 欢迎您：[[${session.user.nickName}]] <span
                                    class="caret"></span></span>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/order/showOrder?uid=}+${session.user.userId}"><span
                                        class="glyphicon glyphicon-list-alt"></span> 订单管理</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a th:href="@{/user/exit}"><span
                                        class="glyphicon glyphicon-log-out"></span> 退出登录</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="font1" th:href="@{/cart/cart}">
                                <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;
                                购物车
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--导航条-->
    <nav class="navbar navbar-inverse ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">商城首页</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class=" nav navbar-nav wz-nav font2">
                    <c:forEach items="${itemCats}" var="itemCat">
                        <li>
                            <a href="">${itemCat.name}</a>
                        </li>
                    </c:forEach>
                </ul>
                <form class="hidden-md  hidden-lg navbar-right " role="search">
                    <div class="  form-group">
                        <input type="text" class="form-control" placeholder="请搜索商品..">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
